<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 映射器处理器， 默认为BeanNameUrlHandlerMapping  -->
	<!-- 适配器处理器，默认为SimpleControllerHandlerAdapter --> 
	
	<!-- 
		视图解析器，默认不是InternalResourceViewResolver，也不是BeanNameViewResolver  
		而是，把逻辑视图不做任何处理，直接当做物理视图的名字！
	-->
	
	<!-- 配置控制器 -->
	<!-- id必须以/开头 -->
	<bean id="/user.do" class="com.woniuxy.c_default.UserController"></bean>

	<bean id="c" class="com.woniuxy.c_default.MyView"></bean>
</beans>
